* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  background-color: #F9C5D5;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .9rem;
  font-weight: 500;
}

.ice-cream{
  z-index: 100;
  position: absolute;
  width: 25%;
  background-color: transparent;
  left: 27%;
  top: 20%;
}

.logo {
  position: relative;
  top: 50px;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6C4A4A;
  background-color: #FBFFE2;
  font-weight: 900;
  letter-spacing: 2px;
  z-index: 3;
}
.shape,
.shape2 {
  position: absolute;
  width: 20%;
  height: 40%;
  background-color: #F9C5D5;
  border-radius: 50%;
  right: 90%;
  top: 10%;
  z-index: 1;
}
.shape2 {
  background-color: #FFEBCC;
  left: 20%;
  top: 40%;
}
.shape3 {
  position: absolute;
  width: 5%;
  height: 10%;
  background-color: #6C4A4A;
  z-index: 100;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}
.rectangle {
  position: absolute;
  width: 40%;
  height: 100vh;
  background-color: #FBFFE2;
  border-radius: 0 30% 0 0;
  left: 0;
  z-index: 1;
}

nav .list {
  position: relative;
  display: flex;
  align-items: center;
}

nav ul li a {
  position: relative;
  top: 50px;
  text-decoration: none;
  padding: 0 30px;
  color: #F2789F;
  font-weight: 600;
}

.text-info h1{
  position: relative;
  float: right;
  text-align: right;
  margin: 10% 17% 0 0;
  letter-spacing: 2px;
  color: #F2789F;
  font-size: 2.5rem;
  z-index: 100;
}
 p {
  position: absolute;
  float: right;
  text-align: right;
  margin-top: 20%;
  right: 17%;
  letter-spacing: 2px;
  color: #6C4A4A;
  font-size: .9rem;
  overflow: hidden;
  width: 17%;
  line-height: 2;
  z-index: 100;
}

.btn {
  position: absolute;
  float: right;
  text-align: right;
  margin-top: 35%;
  right: 17%;
  color: #6C4A4A;
  font-size: .9rem;
  outline: none;
  border: none;
  background-color: #F2789F;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  z-index: 100;
}
